<!-- only show the payment modal when the stage is "Payment requested" (payment_requested) - value is set in the server script -->
<div ng-if="data.showPayment">
  <div class="panel b" >
    <div class="panel-heading bg-primary">
      <span>${Make a Payment}</span>
    </div>

    <!-- Payment button, triggers the Payment modal -->
    <div class="panel-body" style="text-align:center">
      <button type="button" class="btn btn-success btn-lg" ng-click="c.openPaymentModal()">${PayNow}</button>
    </div>
  </div>
</div>
