<!-- only show the payment modal when the stage is "Payment requested" (payment_requested) - value is set in the server script -->
<div ng-if="data.showPayment" ng-controller="paypalController"> 
  <div class="panel b" >
    <div class="panel-heading bg-primary">
      <div ng-init="spSearch.targetRequests()"> <!-- @TODO: figure out what spSearch.targetRequests() does -->
        <sp-c-link target="form" table="data.table" id="data.sys_id"/> <!-- @TODO: figure out what sp-c-link does -->
      </div>
      <span>${Make a Payment}</span>
    </div>

    <!-- Payment button, triggers the Payment modal -->
    <form ng-submit="$event.preventDefault()" class="form-horizontal">
      <div class="panel-body" style="text-align:center">          
         <button type="button" name="paynow" class="btn btn-success" style="font-size:x-large" data-toggle="modal" data-target="#paymentModal">${PayNow}</button>
      </div>
    </form>
  </div>
   

  <!-- Payment Modal -->
  <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" padding-bottom="0px">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="paymentModalLabel">Safe Credit Card Payment powered by
            	<img float="right" width="200px" src="https://help.marinetraffic.com/hc/en-us/article_attachments/201220877/paypal.jpg">
          	</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
          <fieldset>
            
           <div id="paymentFailed" class="alert alert-danger" role="alert" style="display:none">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">    
                  <span aria-hidden="true">&times;</span>
              </button> 
             <strong>Warning!</strong> Payment couldn't be completed successfully. Please try again.
           </div>


          <!-- Select Basic -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="type">Type</label>
            <div class="col-md-4">
              <select class="form-control" id="credit_card_type" ng-model="c.credit_card_type">
                <option value="" disabled selected>Choose your credit card type.</option>
                <option value="mastercard">MasterCard</option>
                <option value="visa">VISA</option>
              </select>
            </div>
          </div>

          <!-- First name input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="first_name">First name</label>  
            <div class="col-md-4">
            <input id="first_name" ng-model="c.first_name" name="first_name" type="text" placeholder="Frank" class="form-control input-md">

            </div>
          </div>

          <!-- Last name input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="last_name">Last name</label>  
            <div class="col-md-4">
            <input id="last_name" ng-model="c.last_name" name="last_name" type="text" placeholder="Schuster" class="form-control input-md" required="">

            </div>
          </div>          

          <!-- Credit Card Number input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="number">Number</label>  
            <div class="col-md-4">
            <input id="number" ng-model="c.credit_card_number" name="number" type="text" placeholder="1234567889012345" class="form-control input-md" required="">
            </div>
          </div>

          <!-- Expires (Month) input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="expiration">Expires (Month)</label>  
            <div class="col-md-4">
            <input id="expiration" ng-model="c.expire_month" name="expiration" type="text" placeholder="12" class="form-control input-md" required="" >

            </div>
          </div>



          <!-- Expires (Year) input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="expire_year">Expires (Year)</label>  
            <div class="col-md-4">
            <input id="expire_year" ng-model="c.expire_year" name="expire_year" type="text" placeholder="2019" class="form-control input-md" required="">

            </div>
          </div>

          <!-- CVV input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="cvv">CVV2</label>  
            <div class="col-md-4">
            <input id="cvv" name="cvv" ng-model="c.cvv" type="text" placeholder="123" class="form-control input-md" required="">

            </div>
          </div>

          </fieldset>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>          
          <a type="button" class="btn btn-primary" ng-click="c.paynow()">Pay License fee</a>
        </div>
      </div>
    </div>
  </div>
</div>